body {
    font-family: Arial, sans-serif;
    background-color:pink;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  h1, h2 {
    color: whitesmoke;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  /* Styles for the navbar */
.navbar {
    background-color: #007bff; /* Warna biru */
    padding: 1rem;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: white; /* Warna teks putih */
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.nav-link:hover {
    background-color: #0056b3; /* Warna biru lebih gelap untuk hover */
    color: white;
    border-radius: 5px;
}

.nav-item.active .nav-link {
    background-color: #0056b3; /* Warna biru lebih gelap untuk item aktif */
    border-radius: 5px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
  }